/*  your css code here. If applicable */
.section{
	margin:30px 90px;
	padding:30px;
	width:100%;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.button{
	background: red;
	border-radius: 15px;
	padding:22px;
	font-size:28px;
	color:white;
	font-weight: 600;
	box-shadow: white;
}





